<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <link rel="stylesheet" href="stylesheets/layout.css" type="text/css">
  </head>
  <body>
<div class="container-layout">
  <%= erb :'partials/header' %>
  <%= erb :'partials/left_column' %>
      <%= yield %>
  <%= erb :'partials/right_column' %>
  <%= erb :'partials/footer' %>
</div>



  </body>
</html>
