<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <link rel="stylesheet" href="/stylesheets/layout.css" type="text/css">
  </head>
  <body>

  <div class="grid">
  <header>
    <%= erb :'partials/header' %>
  </header>

  <aside class="sidebar-left">
    <%= erb :'partials/left_column' %>
  </aside>    
  <main-content>
    <%= yield %>
  </main-content>

  <aside class="sidebar-right">
   <%= erb :'partials/right_column' %>
  </aside>
  <div style="clear: both;"></div>
  
  <footer>
    <%= erb :'partials/footer' %>
  </footer>
</div>


  


  </body>
</html>
